<?xml="1.0 ?"?>
<robot name="mobile_robot" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

    <xacro:property name="base_length" value="0.6" />
    <xacro:property name="base_width" value="0.4" />
    <xacro:property name="base_height" value="0.2" />
    <xacro:property name="wheel_radius" value="0.1" />
    <xacro:property name="wheel_length" value="0.05" />


    <link name="base_link" >
        <visual>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}" />
            </geometry>
            <origin xyz="0.0 0.0 ${wheel_radius/2.0}" rpy="0.0 0.0 0.0" />
            <material>
                color rgba="0.0 0.0 0.5 1.0"
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}" />
            </geometry>
            <origin xyz="0.0 0.0 ${wheel_radius/2.0}" rpy="0.0 0.0 0.0" />
        <inertial>
            <origin xyz="0.0 0.0 ${wheel_radius/2.0}" rpy="0.0 0.0 0.0" />
            <mass value="3.5" />
            <inertia ixx="0.2" iyy="0.2" izz="0.2" >
                ixy="0.0" iyz="0.0" ixz="0.0" 
            </inertia>
        <inertial>
    </link>

</robot>